.title {
  font-size: 300%;
  color: red;
}

.dom-container {
  border: dashed;
  border-color: brown;
  height: 90%;
}

.dom-item {
  border: solid;
  border-color: plum;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dom-item-text {
  grid-column: 1/2;
  font-size: 300%;
}

.dom-item-image {
  grid-column: 2/3;
  height: 40px;
}
